*{
padding:0;
margin:0;

}
section{
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/Images/banner.png);
   background-position: center;
   position: relative;
}
nav{
    display:flex;
    justify-content:space-between;
    padding:30px;
    align-items: center;
}
   
 nav img{
    width:40px;
    height:40px;
    border-radius: 10px;
}

.right-side li a{
    color:white;
    text-decoration: none;
}
.right-side ol li {
    display:inline-block;
    padding:10px;
    position: relative ;
   
}
.right-side li a:hover{
    text-decoration: underline;
    color: greenyellow;
    transition: text-decoration,color .5s ease-out;
}

.right-side li a:active{
    color:purple;
}

nav .fa{
    display: none;

}

.middle-heading{
        width:90%;
    position: absolute;
    top: 50%;
   left: 50%;
        transform: translate(-50%,-50%);
      text-align: center;
      color: white;
    }


.middle-heading h1{
    padding-bottom:30px;
    font-size: 50px;
}
.middle-heading p {
    font-size: 20px;
    padding-bottom: 60px;
    
}

.middle-heading a{
    width:fit-content;
     padding:20px;
    border:2px solid white;
    background: transparent ;
    text-decoration: none;
    color: white;
    
   
}

.middle-heading a:hover{
background-color: brown;
transition:background-color 1s ;
cursor:pointer;
}

@media(max-width:700px){
    .middle-heading h1{
        font-size:20px;
    }
     .middle-heading p{
        font-size: 14px;
     }
    .right-side ol li {
        display:block;
    }

.right-side {
position:absolute;
background: brown;
height: 100vh;
width: 200px;
top: 0;
right:-200px;
text-align: left;
z-index: 2;
transition: 1s;;
}
nav .fa{
display: block; 
margin:10px;
padding:8px;
font-size: 25px;
color: white;
cursor:Pointer;
}
}

.part2{
    width:100vw;
   /* height: 60vh;*/
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    }
 .part2 h1,p{
    display:flex;
    justify-content: center;
 }

 .part2 .lil-desc{
    padding-bottom:40px;
    color: grey;
 }
 .part2 p{
    padding-bottom:40px;
 }
 .part2 h1{
    padding-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
 }

 .course-description{
    display:flex;
    justify-content: space-around;
    /*padding-left:3%;
    padding-right:3%;*/
   
 }
 #levels{
    width:29%;
   background-color:#ffb6c1;
   border-radius: 10px;
   padding:10px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px; 
    margin-left: auto;
    margin-right: auto;
}
   #levels h2{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
    padding-top:40px;
   }

   #levels:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
   cursor:pointer;
   }

   @media(max-width:700px){
    .course-description{
        display:block;
        scroll-behavior:smooth;
         margin-left:auto;
        margin-right:auto;
        
        }
        #levels{
            width:70%;
            margin-right:auto;
            margin-left:auto;
            margin-top: 10%;
            
                    }
        .part2 .lil-desc{
            width:50%;
            margin-right:auto;
            margin-left: auto;
        }
        .part2 h1{
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
   }
   .campuses-description{
    margin-top:5%;
   /* height: 90vh;   */
   margin-left: auto;
   margin-right: auto;
   align-self: center;

        }

.campuses-description h1,p{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.campuses-description p{
    padding-bottom:40px;
    color: grey;
}

.campuses-description h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.campus-image-container{
    display:flex;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
    
       .image-content img{
       width:95% ;
              height: 100%;
       border-radius:15px;
        cursor: pointer;
        
        border-collapse: separate;
        overflow-x: hidden;
               
       }

      
      .campus-image-container .image-content{
        cursor: pointer;
        position: relative;
         margin-bottom: 20px;
          
      }
    .text-highlight{
        background:transparent; 
        transition:background 1s;
        width:95%;
        height: 100%;
        top:0;
        left:0;
        position:absolute;
        border-radius: 15px;
        }

           .text-highlight h3{
            text-align: center;
            color:white;
            bottom:0;
            left: 50%;
            font-size:26px;
            font-weight:500;
            width:95%;
           transform: translateX(-50%);
            position:absolute;
             opacity:0;
             transition:0.5s;         
        }
        .text-highlight:hover{
            background: rgba(226,0,0,0.7);
        }

        .text-highlight:hover h3{
            bottom:49%;
            opacity: 1;
              
        }

        @media(max-width:700px){
            .campuses-description h1{
                align-items: center;
              margin-left: auto;
              margin-right: auto;
              width:70%;
            }
            .campuses-description p{
              width:65%;
              align-items: center;
              margin-left: auto;
              margin-right: auto;
            }
            .campus-image-container{
                display: flex;
                flex-direction: column;
                scroll-behavior: smooth;
                margin-left: auto;
                margin-right: auto;
                                
            } 

            .campus-image-container .image-content img{
             padding-bottom: 15px;
            }
        .image-content{
            height: 100%;
        }
        }


.facilities-container{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    
    }

 .facilities-container .image-container img {
width:80%;
border-radius: 10px;
}

.facilities-container .image-container{
height:100%;
width:fit-content;
margin-left: auto;
margin-right: auto;
}

.facilities-description h1{
display:flex;
justify-content:center;
padding-bottom: 20px;
text-align: center;
}

.facilities-description{
   /*height: 80vh; */  
   margin-top:5%;
   margin-bottom: 5%;
    }

.facilities-description .lil-desc{
    padding-bottom:40px;
    color:grey;
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

.facilities-description .image-container h2{
    width:80%;
    padding-top: 8px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .facilities-container .image-container p{
    font-size: medium;
    color:grey;
    padding-top:15px;
    width:80%;
    text-align: left;

}
.facilities-description h1{
    font-family: Arial, Helvetica, sans-serif;
}

 

@media(max-width:700px){

    .facilities-container {
                display: flex;
                flex-direction:column;
                scroll-behavior: smooth;
                align-items: center;
                margin-right: auto;
                margin-left: auto;
                position: relative;
                padding-left: 15%;
                      } 
            .lil-desc{
                width:50%;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                align-items: center;
  }

  .facilities-container h2{
    width: 80%;
  }

  .facilities-container .image-container{
    margin-left: auto;
    margin-right: auto;
  }
  .facilities-container .image-container p{
    position: relative;
    margin-right: 100%;
  }
}
.testimonies-description{
    padding-bottom: 5%;
}
.testimonies-description h1{
display: flex;
justify-content: center;
padding-bottom: 20px;
font-weight: bolder;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.testimonies-description .lil-desc{
    display: flex;
justify-content: center;
width: 70%;
margin-left: auto;
margin-right: auto;
}

.testimonies-container1{
    display: flex;
    justify-content:space-between;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}
.testimony{
    display: flex;
    justify-content:space-between;
    background-color: #ffb6c1;
    border-radius: 10px;
    padding: 16px;
}

.testimonies-container2{
    display: flex;
    /*justify-content:space-between;This dosen't seem to be separting the img and the other div properly*/
    width:46%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb6c1;
    border-radius: 10px;
    padding: 16px;
}

.testimonies-description img{
    height: 52px;
    width:52px;
    clip-path: circle();
    margin-right: 20px;
    
}

#demola-testimony{
/*This is there for the sake of responsiveness and spacing between  demola and fad king */
margin-left: 16px;
}

.testimonies-description p{
    color: grey;
}


.testimony, .testimonies-container2 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ratings{
    color:salmon;
}

#names{
    padding-bottom: 11px;
}

.testimonies-container2:hover, .testimony:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
   cursor:pointer;
}


@media(max-width:700px){

    .testimonies-description h1,p{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
    .testimonies-container1{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;       
    }

    .testimony{
                display: flex;
                flex-direction: column;
           }

    #demola-testimony{
        margin-top: 10%;
    }

    .testimonies-container2{
        display: flex;
        flex-direction: column;
        width: 78%;
    }
     
       .testimonies-container2 img {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 6px;
       }
    .testimony img{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6px;
    }
}

.online-courses{
    margin-top: 5.5%;
    
}
.online-picture{
    background-image: linear-gradient(rgba(2,8,30,0.7),rgba(3,7,30,0.4)),url(/Images/banner2.jpg);
    background-size: 100% 100%;
    width:80%; 
    height:50vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.online-picture{
    border-radius: 11px;
}

.online-courses h2,p{
    color: white;
}

.online-courses h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#line2{
    display: flex;
    justify-content: center;
    
}

.online-stuff{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}

.p-container{
    display: flex;
    justify-content: center;
}

 .p-container a{
    margin-top: 10%;
     border: 1px solid white;
     width:fit-content;
     padding: 3% 20%;
    transition: background-color 1s;
    
 }
 .p-container button{
    background: transparent;
    color: white;
    border: none;
 }

 .p-container a{
    text-decoration: none;
    color: white;
 }
 .p-container a:hover{
    background-color: rgba(226,0,0,0.7);
    cursor: pointer;
 }
 
    
@media(max-width:700px){
    .online-stuff{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

footer{
    padding-top: 6.5%;
}
footer h2{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: bolder;
}
footer #description{
    width:70%;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer p{
    font-family: 'Noto Sans JP', sans-serif;
    color: gray;
}

footer #logos{
    display: flex;
    justify-content: center;
    
}

#logos i{
    padding: 1%;
}

footer a{
    text-decoration: none;
    color:turquoise;
    font-weight: bold;
    
}




